@import url("https://fonts.googleapis.com/css?family=Roboto:500");

* {
  font-family: "verdana"
}

.topBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: solid black;
}

.Dropdown {
  height: 35px;
  padding-right: 3dvh;
}

.Home {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: auto;
}

.search {
  padding-right: 2%;

}

.profileImage {
  height: 35px;
  border-radius: 50%;
  float: right;
}

.helpbar {
  padding: 8px;
}

.CreateArticleButton {
  font-size: 18px;
}

.sortBox {
  display: flex;
  float: right;
  padding: 10px;
  height: 10px;
  align-items: center;
  margin: 20px;
  font-size: 18px;
  ;
}

.form {
  font-size: 18px;
}

optgroup {
  font-size: 18px;
}

.label {
  padding-right: 15px;
}

.ArticleBody {
  display: inline-flex;
  flex-wrap: wrap;
}

.articleCardImage {
  width: 450px;
  margin-top: 50px;
}

.articleCard {
  display: block;
  height: 500px;
  width: 500px;
  padding-left: 50px;
  margin: 20px;
  border: solid grey;
}

.articleCardDetails {
  float: right;
  margin-right: 30px;
  margin-top: 2px;
  line-height: 3px;
}

.articlePageTopic {
  float: right;
  font-weight: bold;
  margin-left: 20px;
}

.articlePage {
  margin-left: 30px;
  margin-right: 30px;
}

.articlePageDetails {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.articlePageCommentsCount {
  padding-left: 20px;
}

.articlePageDate {
  border-bottom: solid black;
  padding-bottom: 15px;
}

.articlePageVotes {
  display: flex;
  background-color: rgb(212, 210, 210);
  border-radius: 30%;
  float: right;
  padding: 4px;
  align-items: center;
}

.arrowImg {
  height: 30px;
}

.articlePageBody {
  font-size: 1.3rem;
}

#CommentsHeader {
  border-bottom: solid grey;
  padding-top: 100px;
  padding-bottom: 25px;
}

#commentDetails {
  padding-top: 20px;
  font-weight: bold;
}

.commentsBody {
  font-size: 1.3rem;
}

.commentsVotes {
  border-bottom: solid grey 1px;
}

.errorMessageRight {
  color: red;
  float: right;
  padding-right: 20px;
}

.error {
  color: red;
  font-size: 20px;
}

.LoginBox {
  border: 2px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  min-width: 280px;
  margin-top: 48px;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 40%;
  height: 400px;
}

.LoginBoxContents {
  padding-right: 30px;
  margin: 50px;
  font-size: 20px;
}

.Button {
  font-size: 20px;
  border-radius: 10%;
}

.logout {
  text-decoration: underline;
  font-weight: bold;
  flex: right;
}

.submitForm {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 26px;
}

.textarea {
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.commentHeader {
  display: flex;
}

.deleteCommentButton {
  position: absolute;
  right: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-size: 20px;
}