@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.topBar{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: solid black;
}

.Dropdown {
  height:35px;
  padding-right: 3dvh;
}

.Home {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-right: auto;
}

.search {
  padding-right: 2%;

} 

.profileImage {
  height:35px;
  border-radius: 50%;
  float:right;
}
.helpbar {
  padding: 8px;
}

.sortBox {
  float: right;
  gap: 0.5rem;
  max-width: 100%;
} 

.ArticleBody {
  display: inline-flex;
  flex-wrap: wrap;
}

.articleCardImage {
  width: 450px;
  margin-top: 20px;
}

.articleCard {
  display: block;
  height: 500px;
  width: 500px;
  padding-left: 50px;
  margin:20px;
  border: solid grey;
}

.articleCardDetails {
  float: right;
  margin-right:30px;
}